<div class="container mx-auto p-4 flex h-screen justify-center items-center">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="max-w-md mx-auto p-4 space-y-6 bg-gray-800 text-white">
    <div class="space-y-2">
      <label for="name" class="block text-gray-300">Name</label>
      <input type="text" id="name" name="name" formControlName="name"
             class="block w-full border p-2 rounded bg-gray-700 focus:outline-none focus:border-blue-500 text-white">
      <div *ngIf="!registerForm.get('name')?.valid && registerForm.get('name')?.touched"
           class="text-red-600">
        <div *ngIf="registerForm.get('name')?.hasError('required')">
          Name is required.
        </div>
      </div>
    </div>

    <div class="space-y-2">
        <label for="email" class="block text-gray-300">Email</label>
        <input type="email" id="email" name="email" formControlName="email"
               class="block w-full border p-2 rounded bg-gray-700 focus:outline-none focus:border-blue-500 text-white">
        <div *ngIf="registerForm.get('email')?.hasError('required')" class="text-red-600">
          Email is required.
        </div>
        <div *ngIf="registerForm.get('email')?.hasError('email')" class="text-red-600">
          Invalid email format.
        </div>
    </div>

    <div class="space-y-2">
      <label for="password" class="block text-gray-300">Password</label>
      <input type="password" id="password" name="password" formControlName="password"
             class="block w-full border p-2 rounded bg-gray-700 focus:outline-none focus:border-blue-500 text-white">
      <div *ngIf="!registerForm.get('password')?.valid && registerForm.get('password')?.touched"
           class="text-red-600">
        <div *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</div>
      </div>
    </div>

    <div class="space-y-2">
        <label for="repeatPassword" class="block text-gray-300">Repeat Password</label>
        <input type="password" id="repeat-password" name="repeatPassword" formControlName="repeatPassword"
               class="block w-full border p-2 rounded bg-gray-700 focus:outline-none focus:border-blue-500 text-white">
        <div *ngIf="!registerForm.get('repeatPassword')?.valid && registerForm.get('repeatPassword')?.touched"
             class="text-red-600">
          <div *ngIf="registerForm.get('repeatPassword')?.hasError('required')">Password confirmation is required.</div>
          <div *ngIf="registerForm.get('repeatPassword')?.hasError('notMatching')">Passwords do not match.</div>
        </div>
      </div>      

      <!-- <div class="space-y-2">
        <label for="roles" class="block text-gray-300">Select a role:</label>
        <select id="roles" formControlName="roles" class="block w-full border p-2 rounded bg-gray-700 focus:outline-none focus:border-blue-500 text-white">
          <option value="" disabled>Select a role</option>
          <option value="ROLE_USER">ROLE_USER</option>
          <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        </select>
        <div *ngIf="registerForm.get('roles')?.hasError('required')" class="text-red-600">
          Role selection is required.
        </div>
    </div> -->

    <button type="submit" [ngClass]="{
      'default-button': !shouldShowErrorStyle(),
      'error-button': shouldShowErrorStyle()
    }"
            [disabled]="registerForm.invalid"
            class="w-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Submit
    </button>
    <p><a routerLink="/login" class="text-blue-500">Back to the login page</a></p>
  </form>
</div>