<div class="bg-gradient-to-r from-blue-500 to-purple-500 text-white rounded-lg shadow-xl p-6 mx-auto mt-10 w-2/3">
    <h2 class="text-3xl font-semibold mb-4">User Profile</h2>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <p class="text-xl font-semibold mb-2">Name:</p>
            <p class="text-lg">{{ userProfile?.name }}</p>
        </div>
        <div>
            <p class="text-xl font-semibold mb-2">Email:</p>
            <p class="text-lg">{{ userProfile?.email }}</p>
        </div>
    </div>
    <div class="mt-4">
        <p class="text-xl font-semibold">Role:</p>
        <p class="text-lg">{{ userProfile?.roles }}</p>
    </div>
</div>
