@tailwind base;
@tailwind components;
@tailwind utilities;

/* Form */
input {
    padding: 5px;
  }
  
  /* form validation style */
  .form-error-message {
    color: red;
    font-weight: bold;
  }